.App {
  text-align: center;
  background-color: orange;
  background-image: url('./public/cocoAltar.jpg');
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color:white;
}

.headerCont{
  color:white;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.userNameHome{
  border:solid brown;
  list-style: none;
  text-align: left;  
  text-decoration: none;
  background-color: rgba(135,57,31,0.8);
}

.homeList{
  border:solid brown;
  list-style: none;
  text-align: left;  
  text-decoration: none;
  background-color: rgba(200,57,31,0.8);
}

.homeListItem{
  color:white;
  /* border:solid black; */
}


.serviceCont{
  background-color:blue;
  border:solid;
  text-decoration: none;
}

.serviceByUserIdCont{
  border:solid brown;
  list-style: none;
  text-align: left;  
  text-decoration: none;
  background-color: rgba(135,57,31,0.8);
}

.newServiceCont{
  border:solid brown;
  list-style: none;
  text-align: left;  
  text-decoration: none;
  background-color: rgba(200,57,31,0.8);
}

.serviceLi{
  background-color: green;
  border: solid;
}

.newUserSubmission{
  border:solid;
}